<div class="infobox quanzi" ng-controller="menu3Ctrl">
	<div class="quanziTop">
		<span class="fl">动态</span>
		<p class="fr addIcon"><span>+</span>发动态</p>
	</div>
	<ul class="quanziCont">
		<li>
			<div class="headPart clearFix">
				<div class="fl headPartLeft"><img  src="img/user1.jpg" width="40"></div>
				<div class="fl headPartMiddle">
					<p> 
						<i>chenweiw</i>  
						<span>分享专辑</span>
					</p>
					<div>2014.7.7</div>
				</div>
				<div class="fr headPartRight">
					<p class="addIcon fl"><span>+</span>关注</p>
					<i class="fl"></i>
				</div>
			</div>
			<div class="contPart">
				<div class="contPartArtcle">
					<p>
						我收集呵呵呵呵好的哈哈哈哈哈contPartcontPart我收集呵呵呵
					</p>
					<p>
						呵好的哈哈哈哈哈contPartcontPart我收集呵呵呵呵好的哈哈哈哈哈contPartcontPa
					</p>
				</div>
				<div class="contPartMusic clearFix">
					<img class="fl" src="img/video1.jpg" width="40">
					<div class="fl">
						<p>革命</p>
						<h6>昏沉沉</h6>
					</div>
				</div>
				<div class="contPartDown">
					<ul class="clearFix">
						<li class="fl">
							<img src="img/cd1.jpg" width="120">
						</li>
						<li class="fl">
							<img src="img/cd1.jpg" width="120">
						</li>
						<li class="fl">
							<img src="img/cd1.jpg" width="120">
						</li>
					</ul>	
				</div>
				<div class="contPartlowlow clearFix">
					<span class="fl">热门推荐</span>
					<div  class="fr">
						<ul>
							<li class="good fl">
								<img src="img/good.png" width="20" alt="">
								(3092)
							</li>
							<li  class="share fl">
								<img src="img/share.png" width="20" alt="">
								(519)
							</li>
							<li  class="comment fl">
								<img src="img/comment.png" width="20" alt="">
								(467)
							</li>
						</ul>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="headPart clearFix">
				<div class="fl headPartLeft"><img  src="img/user1.jpg" width="40"></div>
				<div class="fl headPartMiddle">
					<p> 
						<i>chenweiw</i>  
						<span>分享专辑</span>
					</p>
					<div>2014.7.7</div>
				</div>
				<div class="fr headPartRight">
					<p class="addIcon fl"><span>+</span>关注</p>
					<i class="fl"></i>
				</div>
			</div>
			<div class="contPart">
				<div class="contPartArtcle">
					<p>
						我收集呵呵呵呵好的哈哈哈哈哈contPartcontPart我收集呵呵呵
					</p>
					<p>
						呵好的哈哈哈哈哈contPartcontPart我收集呵呵呵呵好的哈哈哈哈哈contPartcontPa
					</p>
				</div>
				<div class="contPartMusic clearFix">
					<img class="fl" src="img/video1.jpg" width="40">
					<div class="fl">
						<p>革命</p>
						<h6>昏沉沉</h6>
					</div>
				</div>
				<div class="contPartDown">
					<ul class="clearFix">
						<li class="fl">
							<img src="img/cd1.jpg" width="120">
						</li>
						<li class="fl">
							<img src="img/cd1.jpg" width="120">
						</li>
						<li class="fl">
							<img src="img/cd1.jpg" width="120">
						</li>
					</ul>	
				</div>
				<div class="contPartlowlow clearFix">
					<span class="fl">热门推荐</span>
					<div  class="fr">
						<ul>
							<li class="good fl">
								<img src="img/good.png" width="20" alt="">
								(3092)
							</li>
							<li  class="share fl">
								<img src="img/share.png" width="20" alt="">
								(519)
							</li>
							<li  class="comment fl">
								<img src="img/comment.png" width="20" alt="">
								(467)
							</li>
						</ul>
					</div>
				</div>
			</div>
		</li>
	</ul>
	
</div> 
